body {
    background-image: url("../assets/background-by-adult-swim.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: brightness(50%);
    height: auto;
}



.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    grid-gap: 20px;
}

